#site-navigation {
	
  float: right;
  clear: right;
  margin-top: 23px;
	transition: all 0.6s ease-in-out;
	
  @include respond(portrait-tablets) {
    display: none;
  }

  ul {

    li.menu-item {
      display: inline-block;
	  	

      a {
				@extend %color--clightgray10;
				@extend %fourteen-font;
				text-transform: uppercase;
				padding: 5px 10px;
				
				@include respond("max-width:1060px") {
					padding:5px;
					font-size:12px;
				}
				
				@include respond("max-width:850px") {
					font-size:11px;
				}
				
				@include respond("max-width:785px") {
					font-size:10px;
				}
				
				&:hover {
					@extend %color--corange;
				}
      }
			
			&.menu-item:last-child {
	      margin-right: 0;
			
				a {

				}
	    }
			
			&.button {
				border: 1px solid map-get($map-colors, corange);
				margin-left: 10px;
				padding: .4em .6em;
				
				@include respond("max-width:830px") {
					margin-left:0;
				}
				
				a {
					color: map-get($map-colors, corange);
				}
				
				&:last-child {
					margin-right: 0px;
				}
				&:hover {
					@extend %bg-color--cgray;
					a {
						@extend %color--cwhite;
					}
				}
				&.menu-demo {
					&:hover {
						@extend %bg-color--corange;
						border-color: map-get($map-colors, corange);
					}
				}
				&.menu-trial {
					border-color: map-get($map-colors, corange);
					&:hover {
						@extend %bg-color--corange;
					}
				}
			}
			&.current-menu-item {
				a {
					@extend %color--corange;
				}
			}
			&.menu-item-has-children.hover {
				
				a {

				}
				
				ul.sub-menu {
					
					li {
						display: block;
						
						a {

						}

						ul.sub-menu {
							
						}
					}
					
				}
				
			}
			
    }
  }
}

#toolbar {
	margin-top: 10px;
  float: right;
	transition: all 0.6s ease-in-out;
	
	@include respond(portrait-tablets) {
    display: none;
  }

  .menu-toolbar-container {
    float: left;

    ul {

      li.menu-item {
				
        display: inline-block;
				
				
				a {
					@extend %color--clightgray10;
					@extend %thirteen-font;
					//border-right: 1px solid map-get($map-colors, cgray);
					display: block;
					line-height: 100%;
					padding:0 10px;
					&:hover {
						@extend %color--corange;
					}
					@include respond("max-width:830px") {
						font-size:11px;
					}
      	}
				&.current-menu-item {
					a {
						@extend %color--corange;
					}
				}
				&:last-child {
        	margin-right: 0;
					a {
						border-right: none;
					}
      	}
      }

    }
  }
}

.small {
	#site-navigation {
		margin-top: 10px;
	}
	#toolbar {
		margin-top: -10px;
	}
}

#mobile-navigation {
	
  clear: both;
	
	@include respond(portrait-tablets) {
    display: none;
  }

  &.navbar-collapse.in {
    
  }

  .menu {
		
    margin-top:15px;
    margin-left: 0px;

    li {
			
      @include respond(portrait-tablets) {
        
      }

      a {
				@extend %color--cmediumgray2;
			}
			
    }
		
    .menu-item {

      > a {

      }

      &.current-menu-item,
      &.current-page-ancestor {
        > a {
          
        }
      }
			
    }
		
  }
	
}


	#section-navigation {
		
		ul.menu {
			
			display:block;
			float:right;
			margin:0;
			padding:0;
	
			li {
				
				display:inline-block;
	
				&:last-child {
					padding-right: 0;
				}
	
				a {
	
				}
				
				&.active {
					
					a {
						
					}
					
				}
				
			}
			
		}

}

.secondary-nav--container {
	@extend %bg-color--clightgray3;
	border-top: 1px solid map-get($map-colors, cwhite);
	border-bottom: 1px solid map-get($map-colors, cwhite);
	padding: 8px 0;
	
	#section-navigation {
		.nav-content-wrapper {
			.nav-content {
				.menu {
					.menu-item {
						padding: 0 10px;
						a {
							@extend %color--cmediumgray2;
							@extend %fourteen-font;
							&:hover {
								color: map-get($map-colors, cblue);
							}
						}
						&.active, &.parent-of-active {
							a {
								@extend %color--corange;
							}
						}
					}
				}
			}
		}
		.nav-content-wrapper-2 {display: none;}
	}
	
}
